{% extends 'base.html' %}

{% block title %}Application Submitted{% endblock %}

{% block content %}
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; background-color: rgb(216, 191, 121);">
    <h2 style="text-align: center; font-style: italic;">Application Submitted</h2>
    <p style="text-align: center;">{{ message }}</p>
    <p style="text-align: center;">
      <button style="border: 4px; color: aliceblue; font-style: oblique;font-size: large;" ><a href="{% url 'bankapp:home' %}">Return to Home</a> </button>
    </p>
  </div>
{% endblock %}













